<div class="container text-center">

    <h1 class="display-4 text-white"><img src="./assets/img/banner-ico.png" width="100" height="100" alt=""> Spotify Releases</h1>
    <p class="lead text-white">Here are the new releases on Spotify, select an artist or <a class="text-success" [routerLink]="['/search']">search it</a> and listen to all the songs! </p>

    <!-- <button *ngIf="spotifyService.firstRequest" (click)="getNewReleases()" type="button" class="btn btn-success">Give me new music !</button> -->
</div>
<app-loading *ngIf="loading" class="m-5"></app-loading>

<div class="alert alert-danger animated fadeIn ">
    <h3>Error</h3>
    <p>{{ errorMessage}}</p>
    <hr>
    <button (click)="getNewReleases()" class="btn btn-success">Lets try again</button>
</div>
<app-cards *ngIf="!loading" class="fadeIn" [items]="newReleases"></app-cards>