<app-loading *ngIf="loadingArtist"></app-loading>

<div class="row animated fadeIn mt-5" *ngIf="!loadingArtist">
    <div class="col-2">
        <img [src]="artist.images | noimage" class="img-thumbnail img-circle">
    </div>
    <div class="col">
        <h3 class=" text-white">{{artist.name}}</h3>
        <p>
            <a class=" text-white" [href]="artist.external_urls.spotify" target="_blank"> Artist page</a>

        </p>

    </div>
    <div class="col-4 text-right">
        <button [routerLink]="['/search']" class="btn btn-outline-danger">
        Go back
      </button>
    </div>
</div>


<div class="row m-5">
    <div class="col">
        <table class="table text-white table-responsive-md">
            <thead>
                <tr>
                    <th>Preview</th>
                    <th>Song</th>
                    <th>Album</th>
                    <th>Photo</th>

                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let track of topTracks">
                    <td>
                        <!-- <audio [src]="track.preview_url" controls></audio> -->
                        <iframe [src]="track.uri | securedom : 'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>

                    <td>{{track.name}}</td>
                    <td>{{track.album.name}}</td>
                    <td>
                        <img [src]="track.album.images | noimage" class="img-thumb">
                    </td>
                </tr>
            </tbody>



        </table>
    </div>
</div>